*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: sans-serif
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@200&family=Quicksand:wght@300&family=Rubik+Gemstones&display=swap");

* {
  margin: 0;
  padding: 0;
}

img {
  width: 50px;
}

/* html{
    overflow-x: hidden;
}
body
{
    overflow-x: hidden;
} */

.head {
  padding: 0px 48px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.head .logo {
  height: 30px;
}

.listitems {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}
.listitems a {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 1000;
  color: black;
}
.list-element :hover {
  border-bottom: 3px solid rgb(75, 105, 160);
}

.listitems :visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  transition: all 0.3s;
}
.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 3rem;
  height: 3rem;
}
.mobile-nav-icon[name="close"] {
  display: none;
}

/*res*/

@media (max-width: 62em) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
  }
  .head {
    position: relative;
  }
  .head .logo {
    width: 40%;
  }
  .nav-bar {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background-color: #aac8dd;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .listitems {
    flex-direction: column;
    align-items: center;
  }
  .active .nav-bar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .active .mobile-navbar-btn .mobile-nav-icon[name="close"] {
    display: block;
  }
  .active .mobile-navbar-btn .mobile-nav-icon[name="menu"] {
    display: none;
  }
  body {
    overflow-x: hidden;
  }
}

.login-btn button {
  border: none;
  border-radius: 5px;
  background-color: rgba(67, 77, 74, 0.2);
  padding: 5px 5px;
  margin-top: px;
  color: rgb(73, 80, 80);
  font-weight: 500;
}
.login-btn:hover {
  background-color: rgba(59, 68, 65, 0.2);
}

.nav-bar ul li {
  font-family: "Open Sans", sans-serif;
}

#content{
  display: flex;
}

#left{
  margin-left: 3vw;
  width: 40%;
}
#left img{
  height: 35vw;
  width: 30vw;
  max-height: 1000px;
  margin: 50px 20px 0px 0px;
  box-shadow: 8px 10px 10px rgba(0,0,0,0.4);
  transition: all ease 0.3s;
}
#left img:hover{
  height: 37vw;
  width: 32vw;
}
@media (min-width:1200px){
  #left img{
    height: 450px;
    width: 400px;
  }
  #left img:hover{
    width: 32vw;
    height: 450px;
  }
}

#right{
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 15px;
  padding: 10px;
  margin-top: 20px;
}
#right h1{
  font-size: 30px;
  color: red;
}
#right h2{
  font-size: 20px;
  font-weight: 100;
}
#right h3{
  font-size: 20px;
  font-weight: 100;
}
strong{
  color: blue;
}
#right button{
  padding: 10px;
  margin: 2vw 15vw;
  background-color: rgb(139, 197, 216);
  border: 1px solid rgb(79, 151, 175);
  font-weight: 600;
}